table {
    background: #87eb94;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.3);
    background-size: cover; 
    text-align: center;
    border: 1px solid #000;
    border-collapse: collapse;
    width: 100%;
}

th { 
    background: #62b446; 
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.3); 
    text-align: center;
}

td {
    border: 1px solid #000;
    background: #b0deb5; 
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.3); 
    text-align: center;
}

p { 
    color: #6ae288; 
}
