table{
    border-radius: 30px;
    background: #D99F6C;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-size: contain;
    text-align: center;
    }
    
    th{
    border-radius: 15px;
    background: #A6633C;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    }
        
    td{
    border-radius: 15px;
    border: 1px solid #000;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    } 
    
    p{
    border-radius: 15px;
    color: #A6633C;
    }